*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}

/* shared styles */
.raleway-font-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary{
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition-duration: 0.4s;
}
.btn-primary:hover{
    background-color: white;
    border: 1px solid #4E47FF;
    color: #4E47FF;
    transform: scale(1.17);
}

/* header styles */
.logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
    
}
.upper-header{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.btn-logo{
    height: 48px;
    padding: 12px 36px;
    border: none;
}
.header{
    background-image: url('../images/Hero-bg.png');
    width: 100%;
    align-items: center;
}
.banner-title{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    
}
.lower-header{
    padding: 152px 267.5px;
    
}
.btn-banner{
    margin-top: 37px;
    margin-left: 565.5px;
    margin-right: 365.5px;
    padding: 12px 36px;
}
/* main styles */
.main{
    background-color: #f5f8ff;
}

/* Action styles */
.action{
    display: flex;
    justify-content: space-around;
    padding-top: 116px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-sub-title{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin-top: 23px;
}
.action-image{
    border: none;
    border-radius: 48px;
}
.btn-action{
    padding: 12px 36px;
    margin-top: 23px;
}
/* Productive user styles */
.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    margin-top: 116px;
    border-radius: 24px;
    justify-content: center;
    display: flex;
    padding: 50px 142px;
    margin-left: 250px;
}
.pro-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding: 0px 45px;
}
.pro-header{
    

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 80px;
  color: #4E47FF;
}
.pro-columns{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.pro-sub-header{
    color: rgba(0, 0, 0, 0.5);

}
