* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

/* shared styles */
.raleway-font-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-primary {
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition-duration: 0.4s;
}

.btn-primary:hover {
    background-color: white;
    border: 1px solid #4E47FF;
    color: #4E47FF;
    transform: scale(1.17);
}

/* header styles */
.logo {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;

}

.upper-header {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

.btn-logo {
    height: 48px;
    padding: 12px 36px;
    border: none;
}

.header {
    background-image: url('../images/Hero-bg.png');
    width: 100%;
    align-items: center;
}

.banner-title {
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    text-align: center;

}

.lower-header {
    padding: 152px 267.5px;

}

.btn-banner {
    margin-top: 37px;
    margin-left: 565.5px;
    margin-right: 365.5px;
    padding: 12px 36px;
}

/* main styles */
.main {
    background-color: #f5f8ff;
}

/* Action styles */
.action {
    display: flex;
    justify-content: space-around;
    padding-top: 116px;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
}

.action-sub-title {
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin-top: 23px;
}

.action-image {
    border: none;
    border-radius: 48px;
}

.btn-action {
    padding: 12px 36px;
    margin-top: 23px;
}

/* review styles */
.review{
    margin-top: 137px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.reviews{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 200px;
}
.review-columns{
    /* display: flex; */
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 366px;
    height: 243px;
    padding: 24px;
}
.review-title{

    color: #252432;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;

}
.all-star{
    display: flex;
    
}
.star{
    width: 20px;
    height: 20px;
    padding: 0px 4px;
}
.reviewer-header{
    font-size: 24px;
    text-align: left;
    font-weight: semi-bold;
    margin-bottom: 8px;
    margin-top: 24px;
}
.review-inside{
    text-align: left;
}
.review-writing{
    font-size: 16px;
}
.rv-footer{
    display: flex;
}
.rv-image{
    border: none;
    border-radius: 20px;
    margin-right: 12px;
}
.reviewer{
    text-align: left;
}
.reviewer-name{
    font-size: 16px;
    font-weight: 700;
    color: #757575;
}
.review-date{
    color: #B3B3B3;
    font-size: 16px;
}
/* Productive user styles */
.productive-user {
    background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    margin-top: 116px;
    border-radius: 24px;
    justify-content: center;
    display: flex;
    padding: 50px 142px;
    margin-left: 250px;
}

.pro-title {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding: 0px 45px;
}

.pro-header {


    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 80px;
    color: #4E47FF;
}

.pro-columns {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.pro-sub-header {
    color: rgba(0, 0, 0, 0.5);

}

/* Contact styles */
.contact {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.contact-columns {
    display: flex;
    justify-content: center;
    padding-top: 93px;
    padding-bottom: 73px;
}

.contact-title {
    display: flex;
    font-size: 97px;
    font-weight: bold;
    margin-right: 150px;
    justify-content: center;
    align-items: center;
}

.btn-submit {
    padding: 19px 201px;
    display: block;
    width: 100%;
    margin-top: 19px;
}

main input[type="text"],
main input[type="email"] {
    width: 497px;
    height: 70px;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
}

main textarea {
    width: 497px;
    height: 135px;
    border: none;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 32px;
}
.form-titles{
    margin-bottom: 10px;
    margin-top: 19px;
}

/* footer styles */
.footer{
    margin-top: 104px;
    margin-bottom: 103px;
}
.ft-logo {
    color: #4E47FF;
    font-size: 100px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: black;
    font-style: normal;
    text-align: center;
    margin-bottom: -120px;
}
.ft-sub-title{
    color: #8987A1;
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: center;
    padding: 20px 65px;
}
nav ul li{
    list-style: none;
    margin: 0px 48px;
    color: #8987A1;
    text-align: center;
    
}
nav li a{
    text-decoration: none;
}

